{% extends "master.html" %}
{% load static %}

<!DOCTYPE html>
<html>

{% block title %}
  Account Overview
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
<div class="container">
        <h1>Welcome!</h1>
        <h3>Your username is: {{ user.username }}</h3>
        <div class="row">
            <div class="col">
                <p> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Play your first song?</a></p>
            </div>
            <div class="col">
                <p>or</p>
             </div>
             <div class="col">
                <p><a href="/userMgmt/logout">Logout</a></p>
             </div>
    {% else %}
    <p>....you don't have a profile, how are you here?</p>
    <p>How about you</p>
    <p><a href="login">Login</a></p>
    {% endif %}
</div>
{% endblock %}

</html>