 {% load static %}
 {% load bootstrap5 %}
 {% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/Bootstrap.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar bg-primary navbar-dark navbar-static-top d-flex align-items-center">
        <div class="container">
            <div class="navbar-header ">
                <a class="navbar-brand" href="/userMgmt">WORLD CUP OF MUSIC</a>
            </div>
            <div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/userMgmt" class="text-decoration-none text-light">HOME</a></li>
                    <li class="list-inline-item"><a href="/userMgmt/register" class="text-decoration-none text-light">REGISTER</a></li>
                    <li class="list-inline-item"><a href="/userMgmt/login" class="text-decoration-none text-light">LOGIN</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div class=".container">
        <br />
        {% block content %}
        {% endblock %}
        <br />
    </div>

   <!--<script src="{% static './js/bootstrap.bundle.js' %}"></script>-->
</body>
</html>