 {% load static %}
 {% load bootstrap5 %}
 {% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/Bootstrap.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar bg-primary navbar-dark navbar-static-top d-flex align-items-center">
        <div class="container">
            <div class="navbar-header ">
                <a class="navbar-brand" href="/userMgmt">World Cup of Music</a>
            </div>
            <div>
                <form class="d-flex search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/userMgmt/about" class="text-decoration-none text-light">ABOUT</a></li>
                    <li class="list-inline-item"><a href="/userMgmt/logout" class="text-decoration-none text-light">LOGOUT</a></li>
                </ul>      
            </div>
        </div>
    </nav>
    </div>
    <div class=".container">
        <br />
        {% block content %}
        {% endblock %}
        <br />
    </div>

    <script src="{% static './js/bootrap.bundle.js' %}"></script>
</body>
</html>